<%= content_for :title, "Calendar" %>

<main class="w-full flex-grow p-6">
    <h1 class="text-3xl text-black pb-6">Calendar</h1>

    <div class="w-full">
        <!-- Calendar Component will remain as is -->
    </div>
</main>